body {
    font-family: Arial;
    background: #111;
    color: white;
    padding: 20px;
}

#chat {
    background: #222;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
}
